#container {
	display: flex;
	/*justify-content: center;*/

}

#table {
	display: flex;
	/*grid-template-columns: 10% 10%;*/
	flex-direction: column;
}

div {
	border: 1px solid black;
	min-width: 150px;
	max-width: 340px;
	font-size: 30px;
}

.left-column {
	/*grid-column-start: 1;*/
}

.right-column {
	/*grid-column-start: 2; */
}