#table {
	display: flex;
	/*grid-template-columns: 10% 10%;*/
	/*justify-content: center;*/
	flex-direction: column;
}

.left-column, .right-column, div {
	border: 1px solid black;
	min-width: 150px;
	max-width: 340px;
}

.left-column {
	/*grid-column-start: 1;*/
}

.right-column {
	/*grid-column-start: 2; */
}